.channelcreation-modal {
  display: block;
  position: fixed;
  z-index: 500 !important;
  padding-left: 45%;
  bottom: 0;
  top: 0;
  width: 55%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.headername {
  color: #666;
  font-size: 18px;
  font-family: "zoho-puvi-semi-bold";
  border-bottom: 2px solid #3dc2ac;
  width: 35px;
  padding-bottom: 10px;
}
.chnName {
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin-left: 5px;
}
.channelcreation-modal-content {
  background-color: #fefefe;
    padding: 20px 0 0 35px;
    border: 1px solid #888;
    width: 50%;
    position: absolute;
    right: -10px;
    font-family: "zoho-puvi-regular";
    margin-top: -40px;
    margin-right: 10px;
}
.cclose {
  display: block;
  right: 19px;
  border: none;
  z-index: 1;
  color: var(--color-icon);
  transition: color 0.2s;
  cursor: pointer;
}
.cc-zchat-close {
  position: relative;
  left: -90px;
  top: 30px;
  background-color: var(--default-bg-color);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  float: none;
  line-height: 28px;
  color: var(--color-icon);
  text-align: center;

  svg{
    margin-top: 10px !important;
  }
}
.cancleOpt {
    padding: 26px 36px;
    position: absolute;
    bottom: 10;
    /* top: 0; */
    right: 0;

  .zcl-btn--secondary {
    background: var(--default-bg-color);
    border: 1px solid #d4dadd;
    color: var(--color-secondary);
    margin-right: 15px;
  }
  .zcl-btn--primary {
    background: #3dc2ac !important;
    color: #fff;
    font-weight: bold;
    border-width: 2px;
  }
  .zcl-btn {
    font-size: 15px;
    // border: 1px solid rgb(143, 142, 142);
    height: 40px;
    min-width: 60px;
    padding: 0px 20px;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.collectDetails {
  height: calc(100vh - 220px);
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: 25px;

  &::-webkit-scrollbar {
    display: none;
  }

  .channel-ftr {
    padding: 26px 36px;
    position: relative;
    .zcl-btn--secondary {
      background: var(--default-bg-color);
      border: 1px solid var(--btn-secondary-border);
      color: var(--color-secondary);
    }
    .zcl-btn,
    .zcl-btn-xs,
    .zcl-btn-xxs,
    .zcl-btn-sm,
    .zcl-btn-large {
      position: relative;
      height: 40px;
      min-width: 90px;
      padding: 0px 20px;
      border-radius: 20px;
      color: #fff;
      border: none;
      font-size: 15px;
      cursor: pointer;
      outline: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      vertical-align: middle;
      flex-shrink: 0;
    }
  }
  .chnfields {
    font-family: "zoho-puvi-regular";
    .zcl-avatar {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      border: 6px solid transparent;
      position: relative;
      flex-shrink: 0;
      background-color: var(--default-bg-color);
      box-shadow: 0px 0px 10px var(--box-shadow-color);
      overflow: hidden;
      transform: translate(0px);
    }
    .zcl-input-pretext {
      position: absolute;
      left: 1px;
      top: 1px;
      background-color: var(--color-hover2);
      width: 34px;
      height: calc(100% - 2px);
      color: var(--color-lp2);
      font-size: 22px;
      border-radius: 3px 0 0 3px;
    }
    .zcl-input,
    .zcl-input-sm {
      height: 36px;
      width: 87%;
      font-size: 14px;
      color: var(--color-main);
      background: var(--default-bg-color);
      border: 1px solid var(--color-divider);
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
    }
    .zcl-input-error {
      border: 1px solid var(--color-red) !important;
    }

    .hint-txt,
    .error-txt {
      position: absolute;
      top: calc(100% + 4px);
      right: 2px;
      line-height: 18px;
      font-size: 14px;
      color: var(--color-secondary);
    }
    .zcl-avatar-action {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      font-size: 17px;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      left: 0;
      top: 30px;
      cursor: pointer;
      transition: all 0.2s linear;
    }
    .zcl-avatar-default {
      background-color: var(--bg-color-2);
      border: 1px dashed var(--color-lp3);
      border-radius: 50%;
      width: 98%;
      height: 98%;
      font-size: 28px;
      color: var(--color-icon);
    }
    .zcl-row-label {
      color: var(--color-main);
      font-size: 15px;
      font-weight: bold;
      flex-shrink: 0;
      width: 26%;
      margin-right: 4%;
    }
    .zcl-multiselect-input-container {
      min-height: 35px;
      max-height: 120px;
      width: 100%;
      font-size: 14px;
      color: var(--color-main);
      padding: 6px 20px 0px 10px;
      background: var(--default-bg-color);
      border: 1px solid var(--color-divider);
      border-radius: 4px;
      overflow: hidden;
    }
    .zcl-multiselect-input-container input {
      background-color: transparent;
      border: none !important;
      color: var(--color-main);
      outline: none;
      height: 28px;
      margin-bottom: 5px;
      vertical-align: bottom;
      font-size: 14px;
      padding: 0 5px;
    }
    [data-selections]:empty + input {
      width: 100%;
      height: 28px;
      margin-bottom: 0;
      font-size: 14px;
    }
    .zcl-textarea,
    .zcl-textarea-sm {
      height: 100px;
      width: 100%;
      font-size: 14px;
      color: var(--color-main);
      padding: 10px 12px;
      background: var(--input-bg-color);
      border: 1px solid var(--color-divider);
      border-radius: 4px;
      cursor: text;
      overflow: auto;
    }
    .limit-txt {
      position: absolute;
      text-align: center;
      line-height: 36px;
      right: 0;
      bottom: 0px;
      padding: 0 10px 0 6px;
      font-size: 13px;
      color: var(--color-secondary);
      border-radius: 0 4px 4px 0;
      display: none;
    }
  }
  .chnLevel:hover {
    border-color: #3dc2ac;
  }
  
  .chnLevel {
    background-color: var(--bg-color-2);
    border-radius: 10px;
    height: 130px;
    border-radius: 6px;
    border: 1px solid transparent;
    transition: border 0.2s;

    .cat-desc {
      color: rgb(110, 110, 110);
      font-size: 15px;
      text-align: center;
      
    }
    .org-btn.disabled{
      cursor:auto;
      &:hover{
        border: 1px solid var(--color-divider);
        background-color: #fff;
      }
    }
    .org-btn {
      margin-left: 15rem;
      height: 50px;
      align-items: center;
      font-size: 16px;
      font-family: "zoho-puvi-regular";
      background-color: #fff;
      width: 160px;
      padding: 12.5px;
      color: var(--color-icon);
      cursor: pointer;
      margin: 0 12px;
      border: 1px solid var(--color-divider);
      border-radius: 5px;

      &:hover {
        border: 1px solid  #3dc2ac;
        background-color: #e3f5f2be;
      }
      
    }
    .btn-active{
      border: 2px solid  #3dc2ac !important;
      background-color: #e3f5f2be !important;
    }
  }
}
.zcl-btn--primary {
  background: #3dc2ac !important;
  color: #fff;
  font-weight: bold;
  border-width: 2px;
}
.zcl-btn,
    .zcl-btn-xs,
    .zcl-btn-xxs,
    .zcl-btn-sm,
    .zcl-btn-large {
      position: relative;
      height: 40px;
      min-width: 90px;
      padding: 0px 20px;
      border-radius: 20px;
      color: #fff;
      border: none;
      font-size: 15px;
      cursor: pointer;
      outline: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      vertical-align: middle;
      flex-shrink: 0;
    }
    .zcl-search2 {
      width: 100%;
  }
  .zcl-search, .zcl-search2 {
      display: flex;
      width: 36px;
      height: 36px;
      border-radius: 4px;
      border: 1px solid var(--color-divider);
      background-color: var(--default-bg-color);
      cursor: pointer;
      transition: border .2s ease-out;
      overflow: hidden;
      position: relative;
      z-index: 1;
  }
  .channelRHS-list {
    width: 100%;
    height: calc(100vh - 10px);
    overflow: auto;
    // padding: 0 20px;
}
.channelRHS-list .zcl-list-item {
  border-radius: 8px;
}
.zcl-list-item.large {
  padding: 16px 10px;
  margin-right: 10px;
}

.zcl-list-item {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  font-size: 15px;
  color: var(--color-main);
  cursor: pointer;
}
.zcl-img.lg {
  width: 50px;
  height: 50px;
  font-size: 22px;
}
.mR16 {
  margin-right: 16px;
}
.mR10{
  margin-right: 10px;
}
.mT8 {
  margin-top: 8px;
}
.zcl-img {
  position: relative;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  font-size: 20px;
  box-shadow: 0 0 2px var(--color-lp3);
  flex-shrink: 0;
  color: var(--color-icon);
}
.zcmemsts::before {
  content: "|";
  height: 10px;
  margin: 10px;
  color: var(--color-divider);
}
.zcl-theme-link {
  color: var(--color-theme);
  cursor: pointer;
  border-bottom: 1px dashed transparent;
  font-size: 15px;
  transition: all .2s;
}