.app-submodule-nav {
  width: 230px;
  color: rgb(226, 226, 226);
  background: var(--lhs-bg);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "zoho-puvi-regular";

  .overflow-controls {
    height: calc(100vh - 95px);
    overflow: auto;
  }
  .overflow-controls::-webkit-scrollbar {
    display: none;
  }
  #pinnedChats {
    .more {
      color: grey;
    }
  }
  .heading {
    top: 0px;
    position: sticky;
    // background-color:var(--lhs-bg);
    z-index: 100;
    cursor: pointer;
    font-family: Lato, sans-serif;
    font-weight: 800;
    padding-top: 1.2rem;
    padding-bottom: 0.2rem;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }
  .ellips {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .active {
    border-color: rgb(61, 194, 172) !important;
    background-color: rgb(53, 52, 52);
  }
  .list {
    cursor: pointer;
    border-left: 2px solid var(--lhs-nav-bg);
    margin-top: 1px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1.2rem;
    padding-left: 1.5rem;
    font-size: 12px;
    // padding: 5px;

    .bi-circle {
    }
    .hideShow{
      display: none;
    }
    .options {
      margin-left: auto;
      display: none;
      font-size: 10px;
      color: grey;
      
      .notify{
        transition: all .2s;
        display: inline-block;
        background-color: var(--lhs-unread-bg);
        border-radius: 8px;
        font: normal 11px Lato;
        color: #fff;
        line-height: 16px;
        min-width: 14px;
        padding: 1px 3px;
        text-align: center;
        text-shadow: 0 1px 0 rgb(0 0 0 / 10%);
        margin-right: 8px;
        flex-shrink: 0;
      }
    }
    .bi-x-lg {
      padding-left: 0.5rem;
    }
    .options {
      .bi:hover {
        color: #fff;
      }
    }
  }
  .list:hover {
    background-color: rgb(53, 52, 52);
    color: #fff;
    font-weight: 600;
    .hideShow {
      display: flex;
    }
    .options{
      display: flex;
    }
  }
  .hashTag {
    font-style: italic;
    font-size: 14px;
  }
  .dot-sprtr {
    position: relative;
    margin-left: 15px;
}
.join{
  color: var(--color-lp1);
  font-size: 12px;
}
.join:hover{
  color:#bbb8b8;
  .dot{
    background-color: #bbb8b8;
  }
}
.dot-sprtr::after {
  width: 4px;
  height: 4px;
  left: 0;
  top: 10px;
  
}
.dot-sprtr::after {
  content: "";
  position: absolute;
  left: -9px;
  top: 13px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #a8a8a8;
}
}
