$border-color: #e6e6e6;
.chatarea {
  bottom: 0px;
  width: inherit;
  position: absolute;
  background-color: #fff;

  .zcedtrinfo {
    margin: 4px 10px 4px;
    color: var(--color-lp1);
    height: 34px;
  }
  .composrhelp {
    padding: 0 16px 0 10px;
    width: calc(100% - 50px);
    margin-left: 40%;
    margin-right: 40%;
    align-items: center;
  }
  .posrel {
    position: relative;
    justify-content: center;
  }
  .actions {
    font-size: 13px;
    color: rgb(122, 121, 121);
    padding: 10px;

    .arrow {
      margin-left: 5px;
      color: rgb(83, 83, 83);
      font-weight: 600;
      padding-top: 2px;
    }
  }
  .chateditrmn:hover {
    border-color: #3dc2ac;
  }
  .chateditrmn {
    background-color: #fff;
    border: 1px solid $border-color;
    border-radius: 6px;
    width: calc(100% - 20px);
    height: 100%;
    display: flex;
    position: relative;
    margin: 0 10px;
    margin: 10px;

    .chatOption {
      align-items: center;
      margin: auto;
      padding-right: 20px;
      color: grey;
    }

    .part-list{
      background-color: var(--default-bg-color);
      max-height: 450px;
      overflow: hidden;
      border-radius: 5px;
      position: absolute;
      bottom: 110%;
      bottom: calc(100% + 5px);
      width:98%;
      left: 0px;
      z-index: 1112;
      box-shadow: 1px 0 8px var(--box-shadow-color3);
      padding: 10px;

      .mem-cat{
        font-family: "zoho-puvi-semi-bold";
        font-size: 13px;
      }
      .mem-list-item{
        margin: 20px 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--color-lp3);

        &:hover{
          border-color: #3dc2ac;
        }

        .mem-img{
          border-radius: 100%;
          width: 44px;
          height: 44px;
          overflow: hidden;
        }
        .mem-info{
          padding-left:"20px";

          .mem-name{
            font-family: "zoho-puvi-semi-bold";
            font-size: 14px;
          }
          .mem-email{
            color:var(--color-lp1);
            font-family: Lato,sans-serif;
            font-size:13px;
            margin-top: 4px;
          }
        }
      }
      
    }

    .textArea {
      position: relative;
      flex-grow: 1;
      width: calc(100% - 38px);
      .textarea {
        width: 100%;
        max-height: 200px;
        min-height: 40px;
        overflow: auto;
        padding: 10px 90px 10px 10px;
      }
      .textarea:focus {
        outline: none;
      }
      .textarea::-webkit-scrollbar {
        display: none;
      }
    }
    .linkTag {
      background-color: #f1f4f7;
      color: #627282;
      border-right: 1px solid #e6e6e6;
      width: 38px;
      flex-shrink: 0;
      position: relative;
      border-radius: 5px 0 0 5px;
      //   font-family: "zoho-puvi-regular";

      .attachment {
        cursor: pointer;
        height: 100%;
        font-size: 1.7em;
        display: table;
        vertical-align: middle;
        text-align: center;
        width: 100%;
      }
    }
  }
}

.filepckr-actn {
  position: absolute;
  width: 40px;
  height: 10px;
  margin-top: -10px;
  z-index: 1112;
  transition: all 1ms ease-out .4s;
  display: none;
}
.fileatchmnt.zcl-menu-wrap[align="top"] {
  left: 0px;
  z-index: 1001;
  bottom: calc(100% + 6px);
  top: auto;
}
.zcl-menu-wrap[align="top"] {
  bottom: calc(100% + 12px);
  top: auto;
  right: 0;
}
.zcl-menu-wrap {
  position: absolute;
  padding: 4px;
  box-shadow: 0px 2px 8px var(--box-shadow-color2);
  border-radius: 4px;
  background-color: var(--bg-color-3);
  right: 0px;
  top: calc(100% + 12px);
  min-width: 180px;
  width: 186px !important;
  max-width: 300px;
  z-index: 1;
}
.zcl-menu-item {
  height: 36px;
  display: flex;
  align-items: center;
  padding: 0px 8px;
  border-radius: 4px;
  color: var(--color-main);
  font-size: 14px;
  background-color: inherit;
  cursor: pointer;
}

.fileatchmnt .zcl-menu-item-icn {
  width: 20px;
  text-align: center;
}
.zcl-menu-item-icn {
  color: var(--color-icon);
  font-size: 15px;
  margin-right: 10px;
}
.fileatchmnt.zcl-menu-wrap:after {
  left: 12px;
}
.zcl-menu-wrap[align="top"]:after {
  transform: rotate(45deg);
  top: auto;
  bottom: -6px;
}
.zcl-menu-wrap:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: var(--bg-color-3);
  transform: rotate(225deg);
  top: -6px;
  right: 12px;
  box-shadow: 7px 6px 10px -6px rgb(88 88 88);
  z-index: -1;
  border-radius: 2px;
  backface-visibility: hidden;
}
.sendfile {
  opacity: 0;
  font-size: 22px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}