.quoteui {
    font-family:Lato,sans-serif;
    top: 0px;
    left: 0;
    z-index: 11111;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.quotebg {
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.zcdqut, .zcdqut * {
    text-align: center;
}
.emoji-container{
    transform: scaleY(1);
    opacity: 1;
    transform-origin: right bottom;
    transition: height 0.3s cubic-bezier(0.25,0.8,0.25,1), opacity 0.3s cubic-bezier(0.25,0.8,0.25,1);
    height: fit-content;
    width: fit-content;
    position: absolute;
    bottom: calc(100% + 5px);
    left: 150px;

    // right: 0;
    background-color: var(--bg-color-3);
    z-index: 1112;
    border-radius: 4px;
    // padding-bottom: 10px;
    box-shadow: 1px 0 8px var(--box-shadow-color3);
}
.Inp-emoji-container{
    transform: scaleY(1);
    opacity: 1;
    transform-origin: right bottom;
    transition: height 0.3s cubic-bezier(0.25,0.8,0.25,1), opacity 0.3s cubic-bezier(0.25,0.8,0.25,1);
    height: fit-content;
    width: fit-content;
    position: absolute;
    bottom: calc(100% + 5px);
    background-color: var(--bg-color-3);
    z-index: 1112;
    border-radius: 4px;
    box-shadow: 1px 0 8px var(--box-shadow-color3);
    right:0px !important;
}
.zcdqut {
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 300px;
    padding: 50px;
    font-size: 20px;
    color: #545454;
    position: absolute;
}
.zcquttxt {
    display: table-cell;
    vertical-align: middle;
    height: 200px;
    width: inherit;
}
.zcqutauth{
    margin-top: 15px;
    font-size: 15px;
}
.zcdqut * {
    text-align: center;
}
.pgload {
    bottom: 40px;
    margin: auto;
    left: 50%;
    right: 50%;
    text-align: center;
    position: absolute;
}


.zcdqut {
    display: block;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 5px #d9d9d9;
    font-size: 20px;
    color: #545454;
    position: absolute;
    text-align: center;
    z-index: 12;
}