$file_path:"https://d1eb183yjy6gxz.cloudfront.net/Fonts";

@font-face {
    font-family: "zoho-puvi-black";
    src: url(#{$file_path}/ZohoPuviBlack.otf);
}
@font-face {
    font-family: "zoho-puvi-bold";
    src: url(#{$file_path}/ZohoPuviBold.otf);
}
@font-face {
    font-family: "zoho-puvi-bold-italic";
    src: url(#{$file_path}/ZohoPuviBoldItalic.otf);
}
@font-face {
    font-family: "zoho-puvi-semi-bold";
    src: url(#{$file_path}/ZohoPuviSemibold.otf);
}
@font-face {
    font-family: "zoho-puvi-regular";
    src: url(#{$file_path}/ZohoPuviRegular.otf);
}
@font-face {
    font-family: "zoho-puvi-medium";
    src: url(#{$file_path}/ZohoPuviMedium.otf);
}