.channel-modal {
  display: block;
  position: fixed;
  z-index: 200;
  padding-left: 55%;
  bottom: 0;
  top: 0;
  width: 700px;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.channel-modal-content {
  background-color: #fefefe;
  padding: 20px 0 0 35px;
  border: 1px solid #888;
  font-family: "zoho-puvi-regular";
  margin-top: -40px;
  // overflow: hidden;
  .chatbody {
    margin-left: -35px;
    background-color: #f7f7f7;
    line-height: 26px;
    font-size: 16px;
    position: relative;
    transition: transform 0.5s ease;
    padding-bottom: 1px;
    letter-spacing: 0.01px;
    word-wrap: break-word;
    padding: 0px;
    clear: both;
    width: 600px;
    touch-action: none;
    height: calc(100vh - 228px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  .viewoptions {
    flex-shrink: 0;
    padding: 0 16px;
    box-shadow: 0 1px 2px var(--box-shadow-color);
    margin-bottom: 3px;
    margin-left: -35px;
    margin-top: 20px;

    .optioncontent {
      display: inline-flex;
      width: fit-content;

      .recentConvo,
      .permissions,
      .connectors {
        font-family: "zoho-puvi-semi-bold";
        padding: 12px 20px;
        min-width: auto;
        width: fit-content;
        text-align: center;
        font-size: 14px;
        cursor: pointer;
        background-color: #0000;
        transition: all 0.3s;
        border-bottom: 2px solid #0000;
        color: var(--color-lp1);
      }
      .active {
        border-bottom: 2px solid #3dc2ac;
        color: var(--color-main);
      }
    }
  }
  .chnInfo {
    margin-top: 1rem;
    .desc {
      margin-left: 10px;
      margin-right: 20px;
      width: 72%;
      .desc-icon {
        border-radius: 5px;
        background: var(--icon-bg-color);
        box-shadow: 0px 0px 4px var(--icon-box-shadow);
        height: 30px;
        width: 30px;
        margin-right: 20px;
        color: grey;
      }
      .caption {
        font-size: 13px;
        line-height: 18px;
        margin-top: 12px;
        word-break: break-word;
        color: #666;
      }
      .auth-Info {
        margin-top: 16px;
        font-family: "zoho-puvi-regular";

        .leave {
          background: var(--btn-neg-secondary-bg);
          border: 1px solid var(--btn-neg-secondary-border);
          color: var(--color-red);
          height: 34px;
          font-size: 14px;
          border-radius: 50px;
          width: 90px;
          margin-top: -10px;
          margin-left: 20px;
        }
        .continue {
          font-weight: bold;
          background: #3dc2ac;
          border: 1px solid #3dc2ac;
          color: #fff;
          height: 34px;
          font-size: 14px;
          border-radius: 50px;
          width: 90px;
          margin-top: -10px;
          margin-left: 10px;
        }
        .zcl-dot {
          display: inline-block;
          border-radius: 50%;
          background-color: var(--color-divider);
          width: 4px;
          height: 4px;
          margin-right: 8px;
        }
        .authInfo-menu {
          color: grey;
          border: 1px solid var(--color-divider);
          border-radius: 50%;
          margin-left: 10px;
          margin-top: -10px;
          width: 34px;
          height: 34px;
          font-size: 15px;
        }
        .name {
          font-size: 13px;
          color: var(--color-lp1);
          .per-name {
            color: #1991eb;
            font-weight: bold;
            border-bottom: 1px dashed #1991eb;
          }
        }
      }
    }
  }
  .chatIcon {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    .chatIcon-wrapper {
      width: 68px;
      height: 68px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px 4px 4px 4px;
      box-shadow: 0px 0px 2px var(--color-lp3);
      background-color: var(--bg-color-3);
    }
  }
  .headername {
    color: #666;
    font-size: 18px;
    font-family: "zoho-puvi-semi-bold";
    border-bottom: 2px solid #3dc2ac;
    width: 35px;
    padding-bottom: 10px;
  }
  .chnName {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
  }
}
.cclose {
  display: block;
  right: 19px;
  border: none;
  z-index: 1;
  color: var(--color-icon);
  transition: color 0.2s;
  cursor: pointer;
}
.zchat-close {
  position: relative;
  left: -90px;
  top: 30px;
  background-color: var(--default-bg-color);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  float: none;
  line-height: 28px;
  color: var(--color-icon);
  text-align: center;
}
.connectorcontainer::-webkit-scrollbar {
  display: none;
}
.connectorcontainer {
  padding: 30px;
  font-size: 15px;
  font-family: "zoho-puvi-regular";
  .sel {
    font-size: 13px;
    font-family: "zoho-puvi-semi-bold";
  }
  .border {
    width: 35px;
    position: relative;
    border-bottom: 2px solid #3dc2ac;
    background: #cccaca;
  }
  .info_icon {
    margin-left: 10px;
    color: #747373;
  }
}
.channelPermissions {
  width: 100%;
  // height: 100%;
  background-color: #fff;

  .subcategry {
    font-family: "zoho-puvi-semi-bold";
    font-size: 15px;
    background-color: #f7f7f7;
    padding: 5px;
    padding-left: 35px;
  }
  .ContList {
    margin-left: 35px;
    margin-right: 45px;
    font-size: 15px;

    .menu-text {
      font-family: "zoho-puvi-regular" !important;
      // font-size: ;
    }
  }
}
